<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="special_request" frontName="special_request">
            <module name="Son_Checkout"/>
        </route>
    </router>
</config>